@import url('https://fonts.googleapis.com/css?family=Questrial');
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1530px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 0.4s linear infinite;
  border-color: #ffcc0c !important;
}

* {
  margin: 0px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F3F3F3;
  overflow: hidden;
}

.container {
  width: 1280px;
  height: 100vh;
  display: flex;
  z-index: 9999;
}

.container:nth-of-type(3) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-background-color {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  background-color: #FF995C;
}

.ocean {
  height: 48%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.start {
  height: 700px;
  width: 100%;
  align-self: flex-end;
  padding-top: 200px;
  box-sizing: border-box;
}

.wave {
  background: url('images/wave2.svg') repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 2000px;
  animation: wave 10s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  background: url('images/wave1.svg') repeat-x;
  animation: wave 15s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
}

.menu-box {
  opacity: 1;
  transition: ease 1s;
}

.button-menu-box {
  float: left;
  width: 600px;
  margin-top: 90px;
  margin-left: 120px;
}

.button-menu {
  height: 80px;
  width: 300px;
  font-size: 40px;
  font-family: Questrial;
  background-color: white;
  color: #fda153;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.button-menu:hover {
  background-color: transparent;
  cursor: pointer;
  color: white;
  box-sizing: border-box;
  border: 2px solid white;
}

.button-menu:hover {
  color: white;
  box-sizing: border-box;
}

.button-menu:nth-child(2) {
  margin-top: 30px;
  margin-left: 100px;
}

.button-start-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fda153;
}

.logo {
  width: 440px;
}

.regras-box {
  display: none;
  opacity: 0;
  transition: ease 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.regras-box>.button-menu {
  margin-top: 100px;
}

.regras {
  font-size: 40px;
  font-family: Questrial;
  color: white;
  text-align: justify;
  margin-top: 50px;
}

.ball {
  height: 135px;
  width: 135px;
  border-radius: 100px;
  top: 13%;
  right: 10%;
  position: absolute;
  background: rgba(255, 213, 0, 1);
  background: -moz-linear-gradient(top, rgba(255, 213, 0, 1) 0%, rgba(253, 176, 67, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 213, 0, 1)), color-stop(100%, rgba(253, 176, 67, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 213, 0, 1) 0%, rgba(253, 176, 67, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 213, 0, 1) 0%, rgba(253, 176, 67, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 213, 0, 1) 0%, rgba(253, 176, 67, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 213, 0, 1) 0%, rgba(253, 176, 67, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd500', endColorstr='#fdb043', GradientType=0);
}

.ball:nth-of-type(2) {
  top: 14%;
  right: 4%;
  height: 35px;
  width: 35px;
}

.ball:nth-of-type(3) {
  top: 2%;
  right: 4%;
  height: 70px;
  width: 70px;
}

.game-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.choice {
  fill: white;
  height: 531px;
  margin: 10px;
  transition: ease 1s;
  opacity: 1;
}

.choice:hover {
  fill: #ffcb0d;
  cursor: pointer;
  box-sizing: border-box;
}

.chosen {
  fill: #ffcb0d;
}

.game-box {
  display: none;
  opacity: 0;
  transition: ease 1s;
}

.game {
  width: 555px;
  height: 555px;
  display: flex;
  flex-wrap: wrap;
  padding: 90px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 50px 50px 0px 0px;
}

.grid {
  width: 125px;
  cursor: pointer;
  border-color: #fd906d;
}

.circle {
  background-image: url('images/circle.svg');
  background-repeat: no-repeat;
  background-size: 110px;
  background-position: center;
}

.cross {
  background-image: url('images/cross.svg');
  background-repeat: no-repeat;
  background-size: 110px;
  background-position: center;
}

#grid1 {
  background-color: white;
  border-width: 0px 4px 4px 0px;
  border-style: solid;
  outline: none;
}

#grid2 {
  background-color: white;
  border-width: 0px 4px 4px 4px;
  border-style: solid;
  outline: none;
}

#grid3 {
  background-color: white;
  border-width: 0px 0px 4px 4px;
  border-style: solid;
  outline: none;
}

#grid4 {
  background-color: white;
  border-width: 4px 4px 4px 0px;
  border-style: solid;
  outline: none;
}

#grid5 {
  background-color: white;
  border-width: 4px 4px 4px 4px;
  border-style: solid;
  outline: none;
}

#grid6 {
  background-color: white;
  border-width: 4px 0px 4px 4px;
  border-style: solid;
  outline: none;
}

#grid7 {
  background-color: white;
  border-width: 4px 4px 0px 0px;
  border-style: solid;
  outline: none;
}

#grid8 {
  background-color: white;
  border-width: 4px 4px 0px 4px;
  border-style: solid;
  outline: none;
}

#grid9 {
  background-color: white;
  border-width: 4px 0px 0px 4px;
  border-style: solid;
  outline: none;
}

.scoreboard {
  height: 340px;
  width: 205px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 50px 0px 0px 50px;
  margin-right: 10px;
}

.scoreboard:nth-of-type(2) {
  border-radius: 0px 50px 50px 0px;
  margin-left: 10px;
}

.score-image {
  margin-top: 40px;
  margin-bottom: 30px;
  width: 115px;
  height: 115px;
}

.score {
  box-sizing: border-box;
  padding-top: 20px;
  font-size: 100px;
  font-family: Questrial;
  color: #fd906d;
  border-top: 5px solid #fd906d;
  width: 80%;
  text-align: center;
}

.top-text-game {
  color: white;
  font-size: 55px;
  font-family: Questrial;
  transition: ease 1s;
}

.player-turn {
  width: 50px;
  background-color: white;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 20px;
  opacity: 0;
  transition: ease 1s;
}

.result-box {
  width: 800px;
  height: 555px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  display: none;
  opacity: 0;
  transition: ease 1s;
}

.result {
  width: 245px;
}

.result-message {
  font-size: 110px;
  margin-top: 30px;
  color: #fd906d;
  font-family: Questrial;
}

.button-game-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 40px;
}

.button-game {
  height: 80px;
  width: 300px;
  font-size: 40px;
  font-family: Questrial;
  background-color: white;
  color: #fd906d;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  opacity: 1;
  transition: ease 0.5s;
  margin: 20px;
}

.button-game:hover {
  background-color: transparent;
  transition: ease 0.5s;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  border: 2px solid white;
}

#retry {
  display: none;
  transition: ease 0.5s;
  opacity: 0;
}

.off {
  pointer-events: none;
  background-color: transparent;
  transition: ease 0.5s;
  cursor: pointer;
  color: white;
  border: 2px solid white;
}

.on {
  pointer-events: auto;
}

.button-game:hover>a {
  box-sizing: border-box;
  color: white;
  transition: ease 0.5s;
}

.button-game-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fd906d;
}
